#main table{
  margin: auto;
}
  #navbar {
  background-color: #0066cc;
  height: 40px;
}
#navbar ul {
  list-style: none;
  font-family: fantasy;
}
#navbar ul li{
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding-right: 10px;
}
	#navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
  }
  #navbar ul li a:hover {
    font-weight: bold;
    background-color: #dbdbdb;
    color: blue;
    display: block;
    border-radius: 8px 8px 8px 8px;
    transition: 0.3s;
  }

  #intro{
    background-image: url('img/background.jpg');
    background-size: 100%;
    text-align: center;
    padding: 30px;
    font-family: fantasy;
    color: white;
  }
  #intro img{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
  }
  #intro h1{
    font-size: 70px;
  }
  #intro p{
    font-size: 20px;
  }
  #about {
    text-align: center;
    background-color: #ffcc66;
    padding: 40px;
}
#about img{
  width: 140px;
}

#why-us{
  background-image: url('img/whyusbg.jpg');
  color: white;
  width: 75%;
  padding: 40px;
  margin: 100px auto;
}
#why-us h2{
  font-size: 50px;
}
#why-us img{
    width: 100%;
}
#why-us table{

}
footer{
  background-color: #363636;
  height: 120px;
  padding: 20px;
  color: white;
}

#p1 {
font-style: italic;
font-family: sans-serif;
text-align: center;
font-size: 25px;
}
#p2{
  font-family: fantasy;
  margin-right: 300px;
}
#p3{
  margin-left: 300px;
  float: left;
  font-family: fantasy;
}
#footerright{
  float: right;
}
#cake{
  width: 350px;
}
#bg{
  width: 1000px;
  height: 500px;
  display: block;
  margin: auto;
}
#name{
  font-size: 30px;
  font-family: fantasy;
}
#socialbar{
    margin: 0 0 0 0;
    margin-right: 255px;
    padding: 10px;
    list-style: none;
}
#socialbar li{
  display: inline;
  padding: 5px;
}
