body{
  background-image: url('img/b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  }
  #main table{
  margin: auto;
}

#main table p{
  text-align: center;
  font-size: 30px;
  font-family: fantasy;
}
@media only screen and (max-width: 40em) {
  #main table td{
    display: block;
  }

}
  #navbar {
  background-color: #0066cc;
  height: 40px;
}
#navbar ul {
  list-style: none;
  font-family: fantasy;
}
#navbar ul li{
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding-right: 10px;
}
	#navbar ul li a{
    text-decoration: none;
    color: white;
    display: block;
  }
  #navbar ul li a:hover {
    font-weight: bold;
    background-color: #dbdbdb;
    color: blue;
    display: block;
    border-radius: 8px 8px 8px 8px;
    transition: 0.3s;
  }

  #intro{
    background-image: url('img/background.jpg');
    background-size: 100%;
    text-align: center;
    padding: 30px;
    font-family: fantasy;
    color: white;
  }
  #intro img{
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
  }
  #intro h1{
    font-size: 70px;
  }
  #intro p{
    font-size: 20px;
  }
  #about {
    text-align: center;
    padding: 40px;
}
#about img{
  width: 140px;
  border-radius: 50%;
}

#why-us{
  background-image: url('img/whyusbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 75%;
  padding: 30px;
  margin: 50px auto;
}
#why-us h2{
  font-size: 50px;
}
#why-us img{
    width: 100%;
}

#contact{
  background-color: #363636;
  height: 120px;
  padding: 20px;
  color: white;
}
footer{
  text-align: center;
}

#p1 {
font-style: italic;
font-family: sans-serif;
text-align: center;
font-size: 25px;
}
#p2{
    font-family: fantasy;
    margin-right: 325px;
}
#contactleft{
  margin-left: 10%;
  float: left;
  font-family: fantasy;
}
#contactright{
  float: right;

}
#cake{
  width: 350px;
}

#bg{
  width: 1000px;
  height: 500px;
  display: block;
  margin: auto;
}

#socialbar{
    margin: 0 0 0 0;
    margin-right: 255px;
    padding: 10px;
    list-style: none;
}
#socialbar li{
  display: inline;
  padding: 5px;
}
#product{
  margin: 100px;
}
#product img{
  width: 50%;
}
#product table h1{
  font-weight: bold;
  font-family: cursive;
    color: #0099cc;
}
#product table h4{
font-style: italic;
}
#product table h2{
  font-family: Verdana;
  color: orange;
}
#video{
  text-align: center;
  margin: 30px;
}

#vm{
  background-image: url('img/background.jpg');
  background-size: 100%;
  text-align: center;
  padding: 30px;
  font-family: fantasy;
  color: white;
}

#ck {
  text-align: center;
  padding: 40px;
}
#ck img{
  width: 90%;
  border-radius: 20%;
}
#ck td{
  padding: 10px 80px;
}
